@charset "utf-8";
@font-face {
 font-family: 'Myriad Pro Regular';
 src: local('Myriad Pro Regular'), 
 url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
 font-style: normal;
 font-weight: normal;
}
@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), 
url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}
body {
  font-family: 'Myriad Pro Regular' !important;
}
.nav-button {display: none;}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .nav-button {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 15px 0 15px 0;
        margin-right: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        background: url(../imagens/menu-icon-large.png), -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/menu-icon-large.png), -moz-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/menu-icon-large.png), -ms-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/menu-icon-large.png), -o-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px, 100%;
        cursor: pointer;
        border: 0 none !important;
        z-index: 9999 !important;
        text-indent: -9999px;
        float: right;
    }
    .nav-button:hover { 
        background-color: rgba(0,0,0,.1); 
    }
    .nav-button.open {
        background: url(../imagens/close-icon-large.png), -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/close-icon-large.png), -moz-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/close-icon-large.png), -ms-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background: url(../imagens/close-icon-large.png), -o-linear-gradient(top, rgba(50,50,50,0), rgba(50,50,50,.2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px, 100%;
    }
}
input {
 font-family: 'Myriad Pro Regular' !important;	
}
.base {
 margin-top: 50px;
 position: relative; 
}
.bnt-full {
 width: 100% !important;
 font-weight: bold;
 letter-spacing: 1px;
}
.bnt-entrar {
 background-color: #0499b9 !important;
}
.bnt-criar-conta {
 height: 45px !important;
 font-size: 16px;
 letter-spacing: 1px;
 margin-top: 40px;
 border-radius: 0px !important;
 background-color: #1ba44a !important;
}
.bnt-cadastrar {
 font-size: 16px;
 letter-spacing: 1px;
 background-color: #1ba44a !important;
}
.txt-home {
 color: #0499b9 !important;
 font-size: 14px !important;
}
.form-group  h1 img {
 margin: 0 auto;
}
.txt-login {
 color: #0499b9;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 1px;
 font-family: 'Myriad Pro Bold';
 margin-top: 30px;
}
.txt-login-2 {
 color: #666666;
 margin-top: -8px;
 font-size: 13px;
 font-family: 'Myriad Pro Bold';
}
.txt-n-cadastrado {
 color: #1ba44a;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 1px;
 font-family: 'Myriad Pro Bold';
}
.small-aviso {
 color: #cccccc;
 margin-left: 5px;
}
.small-aviso-email a {
 color: #1ba44a !important;
}




.tt-destinos-home {
 height: 20px;
 font-family: 'Myriad Pro Bold';
 color: #f1a400;
 font-size: 14px;
 background: url(../imagens/icon-destinos.png) no-repeat 0 0px;
 text-indent: 10px;
 float: left;
 margin: 12px 0 0 40px;
 text-indent: 18px;
}
.tt-identificacao {
 height: 20px;
 font-family: 'Myriad Pro Bold';
 color: #FFF;
 font-size: 14px;
 background: url(../imagens/voltar-home.png) no-repeat 0 0px;
 text-indent: 10px;
 float: left;
 margin: 12px 0 0 40px;
 text-indent: 60px;
}
.tt-destinos {
 height: 25px;
 font-family: 'Myriad Pro Bold';
 color: #FFF;
 font-size: 14px;
 background: url(../imagens/voltar-home.png) no-repeat 0 5px;
 text-indent: 10px;
 float: left;
 margin: 5px 0 0 40px;
 text-indent: 60px;
}
.tt-destinos span {
 float: right;
 font-size: 10px;
}




#busca-topo {
 width: 43%;
 position: relative;
 float: left;
 margin: 13px 0 0 10px;
}
input.search_topo { 
width: 85%;
height: 18px;
border: none;   
color: #FFF; 
float: left;
padding: 1px;
background-color: #333332 !important;
-webkit-border-radius: 3px !important;
-moz-border-radius: 3px !important;
border-radius: 3px !important;
border: solid 1px rgba(221,221,221,0.1);
}
input.lupa_topo { 
 width: 16px; 
 height: 15px;
 margin-top: 1px;
 background: url(../imagens/lupa_topo.png) no-repeat center; 
 border: none; 
 text-indent: -9999px; 
 cursor: pointer;
 float: right;
}

















.col-md-4 {
 position: relative;
 border-bottom: solid 1px #dddddd;
}
.bnt-destinos {
 background-color: #f1a400 !important;
 color: #FFF !important;
 text-align: left;
 font-family: 'Myriad Pro Bold';
}
.bnt-lance {
 background-color: #f1a400 !important;
 color: #FFF !important;
 font-family: 'Myriad Pro Bold';
 letter-spacing: 1px;
 border: none;
}
.bnt-info {
 background-color: #666666 !important;
 color: #FFF !important;
 font-family: 'Myriad Pro Bold';
 letter-spacing: 1px;
 border: none;
}



.destinos-foto-usuario {
 width: 35%;
 margin-top: 33px;
 margin-bottom: 30px;
 position: relative;
 float: left;
}


.destinos-dados-usuario {
 width: 60%;
 margin-top: 45px;
 margin-bottom: 30px;
 position: relative;
 float: right;
}
.txt-dados-usuario {
 font-family: 'Myriad Pro Bold';
 font-size: 15px;
 letter-spacing: 1px;
 color: #0499b9 !important;
}
.destinos-dados-usuario p {
 line-height: 12px !important;
}
.txt-saldo-usuario {
 font-size: 13px;
 font-family: 'Myriad Pro Regular' !important;	
 color: #666666 !important;
}
.txt-lances-usuario {
 font-family: 'Myriad Pro Bold';
 font-size: 23px;
 letter-spacing: 1px;
 color: #0499b9 !important;
}
.txt-lances-usuario span {
 font-family: 'Myriad Pro Regular' !important;
 font-size: 12px;
}
.txt-atualizacao-usuario {
 font-family: 'Myriad Pro Regular' !important;
 font-size: 11px;
 color: #666666 !important;
}
.img-circle {
 width: 90px;
 height: 90px;
 border: solid 2px #0499b9;
}







.info-destinos {
 width: 50%;
 float: left;
 position: relative;
 padding-left: 5%;
}
.info-destinos p {
 float: left;
 width: 100%;
 line-height: 18px;
}
.txt-destinos {
 font-family: 'Myriad Pro Bold';
 color: #666666;
 font-size: 14px;	
}
.txt-destinos-tempo {
 font-family: 'Myriad Pro Bold';
 color: #323232;
 font-size: 30px;
}
.txt-destinos-datas {
 font-family: 'Myriad Pro Regular' !important;	
 color: #666666;
 font-size: 12px;	
}











.info-lance {
 width: 50%;
 float: right;
 position: relative;
 padding: 20px 5% 20px 0;
}


.btn-group {
 float: right;
}


.bnt-todos {
 background-color: #bcb9b9 !important;
 color: #FFF !important;
 font-family: 'Myriad Pro Bold';
 margin-top: 20px;
}



